@import "./mixin";
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:ital@0;1&display=swap");
$primaryPink: #bd9cac;
$mpink: #d8bdcb;
$darkpink: #ac7b92;
$lightpink: #efd8e4;
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: $lightpink !important;
  font-size: 100% !important;
  position: relative;
  .form-container {
    display: none !important;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    .form-contact {
      width: 320px;
      background-color: #ac7b92;
      position: fixed;
      margin-top: 100px;
      margin-left: 5%;
      border-radius: 10px;
      padding: 20px;
      .form-img {
        text-align: center;
        img {
          width: 200px;
          height: 80px;
          object-fit: cover;
        }
        h1 {
          margin: 0;
          margin-bottom: 20px;
          margin-top: -20px;
          margin-right: 20px;
          font-size: 24px;
          font-family: "Andada Pro", serif;
          font-weight: bold;
          color: #efd8e4;
        }
      }
      .btn {
        background-color: $primaryPink;
      }
    }
  }
  .showContact {
    display: block !important;
  }
  .contact-btn {
    position: absolute;
    top: 90%;
    right: 5%;
    position: fixed;
    z-index: 1;
    width: 50px;
    height: 50px;
    background-color: $darkpink;
    border-radius: 50%;
    cursor: pointer;
    @include flexCenter();
    color: #fff;
    &:hover {
      box-shadow: 0 0 0 3px $mpink;
    }
  }
  .header {
    width: 100%;
    height: 3rem;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    position: fixed;
    z-index: 1;
    @include desktop {
      height: 6rem;
    }
    #nav {
      position: absolute;
      width: 100%;
      height: 100px;
      top: -250px;
      background-color: rgba(0, 0, 0, 0.5);
      transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
      z-index: 1;
      font-family: "Andada Pro", serif;
      ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        @include desktop {
          @include flexCenter();
        }
        li {
          background: $primaryPink;
          height: 70px;
          width: 80px;
          padding: 10px;
          margin-top: 10px;
          border-radius: 10px;
          color: #fff;
          @include flexCenter();
          font-size: 12px;
          transition: 0.2s;
          &:first-child {
            margin-left: 10px;
          }
          &:last-child {
            margin-right: 10px;
          }
          &:hover {
            opacity: 50%;
          }
          @include desktop {
            height: 80px;
            font-size: 20px;
            width: 200px;
            margin-left: 20px;
          }
        }
      }
    }
    .drop {
      top: 3rem !important;
      @include desktop {
        top: 6rem !important;
      }
    }
    .menu-bar {
      width: 10%;
      height: 100%;
      cursor: pointer;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .bar1,
      .bar2,
      .bar3 {
        width: 30px;
        height: 3px;
        background-color: $primaryPink;
        margin: 6px 0;
        transition: 0.4s;
        margin: 3px 0px;
      }
    }
    .change {
      .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 5px);
      }
      .bar2 {
        opacity: 0;
      }
      .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-7px, -5px);
      }
    }
    .logo {
      width: 150px;
      height: 100%;
      background: url("../img/logo\ LL-01.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 35%;
      @include desktop {
        width: 300px;
      }
    }
    .btn-search {
      background: transparent;
      outline: none;
      border: none;
      color: $primaryPink;
      margin-right: 10px;
      .fa-search {
        font-size: 20px;
      }
    }
  }
  .hero-container {
    width: 100%;
    height: 600px;
    background: url("../img/background\ photo.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    @include flexCenter();
    position: relative;
    transform: translate3d(0px, 0px, 0px);
    @include desktop {
      height: 1000px;
    }
    img {
      position: absolute;
      top: 35%;
    }
    .btn-drop {
      position: absolute;
      bottom: 0;
      background-color: transparent;
      border: none;
      outline: none;
      .fa-chevron-down {
        font-size: 4rem;
        color: #fff;
        opacity: 50%;
      }
      &:hover {
        .fa-chevron-down {
          color: #000;
        }
      }
    }
  }
  .content-container {
    .Title {
      width: 100%;
      height: 100px;
      background-color: #000;
      font-family: "Andada Pro", serif;
      color: $darkpink;
      @include flexCenter();
      @include desktop {
        height: 200px;
      }
      h1 {
        font-size: 30px;
        margin: 0;
        font-weight: 500;
        @include desktop {
          font-size: 50px;
        }
      }
    }
    .content-wraper {
      margin: 20px;
      font-family: "Andada Pro", serif;
      @include desktop {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
      .content-card {
        background-color: $mpink;
        padding: 20px;
        border-radius: 20px;
        margin-top: 20px;
        @include desktop {
          margin: 20px;
        }
        .card-img {
          width: 100%;
          height: 200px;
          margin: 0 auto;
          background-color: $mpink;
          background: url("../img/portait\ demo.jpg");
          background-size: cover;
          background-position: center;
          @include desktop {
            height: 500px;
          }
        }
        &:nth-child(2) .card-img {
          background: url("../img/lookbook\ demo.jpg");
          background-size: cover;
          background-position: center;
        }
        &:nth-child(3) .card-img {
          background: url("../img/make\ up\ demo.jpg");
          background-size: cover;
          background-position: center;
        }
        .card-info {
          text-align: center;
          .card-detail {
            text-align: left;
            padding: 10px;
            padding-top: 20px;
            background-color: $darkpink;
            margin-bottom: 10px;
            border-radius: 10px;
            color: #fff;
            font-size: 12px;
            transition: opacity 1s ease-out;
            opacity: 0;
            height: 0;
            overflow: hidden;
            p {
              span {
                font-size: 20px;
                font-weight: bold;
              }
            }
            ul {
              li {
                list-style: none;
                &::before {
                  content: "·";
                  font-size: 50px;
                  vertical-align: middle;
                  line-height: 20px;
                  color: #000;
                }
                ul {
                  li {
                    padding: 10px;
                    &::before {
                      content: "";
                    }
                  }
                }
              }
            }
          }
          .dropDetail {
            opacity: 1;
            height: auto;
          }
          h2 {
            font-size: 20px;
          }
          .btn-detail {
            height: 40px;
            width: 80px;
            border-radius: 10px;
            background-color: $darkpink;
            color: #fff;
            font-weight: bold;
            border: none;
            transition: 0.5s;
            &:hover {
              background-color: #70485c;
            }
          }
        }
      }
    }
  }
  .slider-container {
    text-align: center;
    margin-bottom: 20px;
    .Title-slider {
      width: 100%;
      height: 100px;
      background-color: #000;
      font-family: "Andada Pro", serif;
      color: $darkpink;
      @include flexCenter();
      h1 {
        font-size: 30px;
        margin: 0;
        font-weight: 500;
        @include desktop {
          font-size: 50px;
        }
      }
      @include desktop {
        height: 200px;
      }
    }
    .slider-wraper {
      padding: 20px;
      @include desktop {
        padding: 100px;
      }
    }
    .carousel-inner {
      background-color: #000;
      .item {
        img {
          @include desktop {
            height: 900px;
            object-fit: contain;
          }
        }
      }
    }
    a {
      color: $darkpink;
      text-decoration: underline;
    }
  }
  .footer {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #000;
    color: $lightpink;
    @include flexCenter();
    flex-direction: column;
    .footer-icon {
      @include flexCenter();
      margin-top: 10px;
      .icon {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 12px;
        border-right: solid 1px $lightpink;
        &:last-child {
          border: none;
        }
      }
    }
  }
}
